.btn{
  @include buttonGeneric;

  &.rounded{
    &-right{
      border-radius: 0 5px 5px 0;
    }
    &-left{
      border-radius: 5px 0 0 5px;
    }
  }
}

button, .btn, a{
  &:hover, &:active, &:focus{
    outline: none;
  }
}
