.collapsible{
  border-bottom: 1px solid #ddd;

  &:first-child {
    border-top: 1px solid #ddd;
  }

  &Content{
    overflow: hidden;
    height: 150px;
    transition: all ease-in-out .3s;

    position: relative;

    &.hidden{
      height: 0;
    }
  }

  &Trigger{
    color: #bdbdbd;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all ease .3s;

    &::after{
      content: '\e942';
      font-family: 'automotive', sans-serif;
      //transform: rotate(90deg);
      transition: all ease .35s;
      font-size: 16px;
      display: inline-block;
      padding: 5px;
    }

    &.active{
      &::after{
        transform: rotate(180deg);
        transition: all ease .3s;
      }
    }
  }
}
