.filterWidgetComponent{
  &__main{
    border: 2px solid #F2F2F2;
  }

  &__header{
    background: #333;
    color: #fff;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    padding: 46px 27px 36px;

    h3{
      font-size: 19px;
      line-height: 26px;
      margin-bottom: 0;
    }

    i{
      font-size: 30px;
      margin-right: 22px;
    }
  }

  &__body{
    padding: 33px;
  }

  .form{
    &-group{
      position: relative;
    }
  }
}
