.formComponent{
  &-inputWrapper{
    margin-bottom: 5px;
    label{
      text-transform: uppercase;
      font-weight: 300;
      color: #555;

      .required{
        color: red;
      }
    }
  }

  &-radioWrapper{
    display: flex;
    list-style-type: none;
    padding: 0;

    li{
      margin-right: 10px;

      label{
        text-transform: initial;
        font-size: 12px;
      }
      input{
        &[type="radio"]{
          width: 16px;
          height: 16px;

          &::after {
            width: 14px;
            height: 14px;
          }
        }
      }
    }
  }
}
