.glide{
  &__arrow{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2;

    @include buttonGeneric;

    &--left{
      left: 0;
    }
    &--right{
      right: 0;
    }
  }
}
