.iconWithLabel{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;

  i{
    color: darken(map_get($theme-colors, 'primary'), 10%);
    font-size: 30px;
    margin-right: 20px;
  }

  .label{
    font: normal normal 300 16px / 19px 'Antenna', Arial, sans-serif;
  }

  a{
    color: inherit;
  }
}
