@mixin inputStyle{
  background: #eceff3;
  color: #888;
  //background-clip: padding-box;
  border: 1px solid #eceff3;
  border-radius: 0;
  font: normal normal 400 14px / 47px 'Antenna', sans-serif;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  outline: none;
  transition: all ease .3s;

  &:hover, &:active, &:focus{
    background-color: #fff;
    border-color: map-get($theme-colors, 'primary');
    color: #232628;
  }
}

input{
  &[type="text"],
  &[type="email"],
  &[type="password"],
  &[type="tel"],
  &[type="url"],
  &[type="search"]
  {
    @include inputStyle;
  }

  &[type="number"]{
    @include inputStyle;
    padding-right: 0;
  }

  &[type="submit"]{
    @include buttonGeneric;
  }
}
textarea{
  @include inputStyle;
  resize: none;
  font-size: 14px;
  line-height: 1.5;
  padding-top: 5px;
  padding-bottom: 5px;
}
select{
  font: normal normal 400 14px / 38px 'Antenna', sans-serif;
  width: 100%;
  border: 1px solid #e9e9e9;
  height: 38px;
  padding: 5px 25px 4px 10px;
  color: #878787;
  outline: none;
  background: #eceff3;
  //display: block;
}

label{
  cursor: pointer;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;

}

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    --active: #{map-get($theme-colors, 'primary')};
    --active-inner: #fff;
    --focus: 2px rgba(253, 75, 13, 0.3);
    --border: #BBC1E1;
    --border-hover: #{map-get($theme-colors, 'primary')};
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;
    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;
      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }
      & + label {
        cursor: not-allowed;
      }
    }
    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }
    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    &:not(.switch) {
      width: 21px;
      &:after {
        opacity: var(--o, 0);
      }
      &:checked {
        --o: 1;
      }
    }
    & + label {
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }
  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: 7px;
      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }
      &:checked {
        --r: 43deg;
      }
    }
    &.switch {
      width: 38px;
      border-radius: 11px;
      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }
      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }
      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: .6;
          }
        }
      }
    }
  }
  input[type='radio'] {
    border-radius: 50%;
    &:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, .7));
    }
    &:checked {
      --s: .5;
    }
  }
}

.choices{
  &[data-type*='select-one']{
    margin-bottom: 23px;

    &.is-open{
      z-index: 10;
    }

    .choices{
      &__input{
        padding-top: 0;
        padding-bottom: 0;
      }

      &__item{
        &--choice{
          padding-right: 10px;
          &::after{
            content: none;
          }

          @media screen and (min-width: 1200px) {
            padding-right: 100px;
            &::after{
              content: attr(data-select-text);
            }
          }
        }
      }
    }
  }
}
