.menuComponent{
  margin: 0;
  padding: 0;
  font-size: 16px;

  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  li{
    display: block;
    font-family: 'Antenna', sans-serif;
    position: relative;
    list-style-type: none;

    &.with-icon{
      a{
        display: flex;
        flex-wrap: nowrap;
        align-content: center;

        i{
          //padding: 0 3px;
          padding: 0 8px 0 3px;
        }
      }

    }

    a{
      text-decoration: none;
      color: #fff;
      line-height: 1;
      transition: all ease .3s;
      display: inline-block;
      //word-break: keep-all;
      white-space: nowrap;
      cursor: pointer;

      padding: 16px;

      @media screen and (min-width: 1300px){
        padding: 18px 32px;
      }

      &:hover{
        color: #fff;
        background: map-get($theme-colors, 'primary');
        transition: all ease .3s;
      }
    }

    &.current-menu-item{
      a{
        color: #fff;
        background: map-get($theme-colors, 'primary');
        transition: all ease .3s;
      }
    }

    .sub-menu {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      transition: all .3s ease;
      left: 0;
      display: flex;
      flex-direction: column;
      padding: 0;
      width: 250px;

      transform: scale3d(0, 0, 0);
      background: #fff;
      border: 1px solid #dfdfdf;
      transform-origin: top left;
      z-index: 2;
      margin-top: 0;

      li{
        &:not(:last-child){
          a{
            border-bottom: 1px solid #ddd;
          }
        }
      }

      a{
        color: map-get($theme-colors, 'primary');
        text-decoration: none;
        font-size: 15px;
        width: 100%;
        padding: 15px 30px 15px 34px;
        transition: all ease .3s;

        &:hover{
          color: #fff;
          background: map-get($theme-colors, 'primary');
          transition: all ease .3s;
        }


      }

      li{
        &.current-menu-item{
          a{
            color: #fff;

            &:hover{
              color: #676767;
            }
          }
        }
      }
    }

    &:hover {
      &> a{
        color: #fff;
        background: map-get($theme-colors, 'primary');
      }
      .sub-menu, .sub-menu:hover{
        visibility: visible;
        opacity: 1;
        //display: block;

        transform: scale3d(1, 1, 1);
      }
    }
  }
}

.nav-primary{
  display: none;
  @media screen and (min-width: 768px) {
    display: initial;
  }
  &--mobile{
    display: none;
  }
}
