.modal{
  display: none;

  &Opened{
    filter: blur(8px);
  }

  &.is-open, &.is-closing{
    display: block;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  &__container {
    background-color: #fff;
    padding: 30px;
    max-width: 500px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .modal__close{
      color: map-get($theme-colors, 'darkBg');

      &:hover{
        color: #fff;
      }
      &::before {
        content: "\2715";
      }
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #00449e;
    box-sizing: border-box;
  }

  &__close {
    background: transparent;
    border: 0;
  }

  &__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
  }

  &__btn {
    //@include buttonGeneric;
  }

  &-slide{
    &[aria-hidden="false"] {
      .modal__overlay {
        animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
      }

      .modal__container {
        animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
      }
    }

    &[aria-hidden="true"]{
      .modal__overlay {
        animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
      }

      .modal__container {
        animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
      }
    }

    .modal__container,
    .modal__overlay {
      will-change: transform;
    }
  }
}

@keyframes mmfadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes mmfadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
  to { transform: translateY(0); }
}

@keyframes mmslideOut {
  from { transform: translateY(0); }
  to { transform: translateY(-10%); }
}
