.searchModal{
  .modal{
    &__container{
      background-color: transparent;
      padding: 0;
      width: 90vw;
      max-width: 600px;
    }
  }

  &-inputWrapper{
    display: flex;
    flex-flow: row wrap;
    label{
      flex-basis: 100%;
      color: #fff;
      font: normal normal 300 20px / 22px 'Antenna', Arial, sans-serif;
      text-transform: uppercase;
    }

    input{
      flex-basis: 92%;
      font-size: 20px;
    }
    button{
      flex-basis: 8%;
      font-size: 20px;
      padding: initial;
      line-height: 57px;

      &:hover{
        background-color: lighten(map-get($theme-colors, 'primary'), 10%);
        color: #fff;
      }
    }
  }
}
