.toTopButton{
  position: fixed;
  bottom: 20px;
  right: 20px;

  &--btn{
    background: map-get($theme-colors, 'primary');
    border: 1px solid map-get($theme-colors, 'primary');
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    padding: 22px;
    transition: all ease .3s;

    opacity: 1;
    visibility: visible;
    &.hidden{
      opacity: 0;
      visibility: hidden;
    }

    &:hover{
      color: map-get($theme-colors, 'primary');
      background: transparent;
      transition: all ease .3s;
    }

    i{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
