@mixin buttonGeneric{
  $bgColor: map-get($theme-colors, 'primary');
  font-size: 16px;
  line-height: 55px;
  color: #fff;
  background-color: $bgColor;
  border: 1px solid $bgColor;
  transition: all ease .3s;
  padding: 0 15px;
  display: inline-block;
  letter-spacing: normal;
  font-weight: 300;

  &:hover{
    color: $bgColor;
    background-color: #fff;
    transition: all ease .3s;
  }

  &:hover, &:active, &:focus{
    outline: none;
  }
}

@mixin buttonEmpty{
  @include buttonGeneric;
  background-color: transparent;
  color: map-get($theme-colors, 'primary');

  &:hover{
    color: map-get($theme-colors, 'primary');
    background-color: #fff;
    transition: all ease .3s;
  }
}
