@mixin sectionTitle{
  flex-basis: 100%;
  text-align: left;
  border-bottom: 2px solid #000;
  padding: 0;
  margin: 0 15px 30px;

  h3{
    font: normal normal 300 25px / 1.2 'Antenna', Arial, sans-serif;
    margin-bottom: 0;
  }
}
