@font-face {
  font-family: 'automotive';
  src:  url('fonts/automotive.eot?glkkdb');
  src:  url('fonts/automotive.eot?glkkdb#iefix') format('embedded-opentype'),
    url('fonts/automotive.ttf?glkkdb') format('truetype'),
    url('fonts/automotive.woff?glkkdb') format('woff'),
    url('fonts/automotive.svg?glkkdb#automotive') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'automotive' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-performance:before {
  content: "\e947";
}
.icon-cash:before {
  content: "\e944";
}
.icon-trade:before {
  content: "\e945";
}
.icon-angle-round:before {
  content: "\e949";
}
.icon-chevron-thin-up:before {
  content: "\e925";
}
.icon-chevron-thin-right:before {
  content: "\e940";
}
.icon-chevron-thin-left:before {
  content: "\e941";
}
.icon-chevron-thin-down:before {
  content: "\e942";
}
.icon-close:before {
  content: "\e900";
}
.icon-speedometr2:before {
  content: "\e800";
}
.icon-shop_bag:before {
  content: "\e801";
}
.icon-chat2:before {
  content: "\e802";
}
.icon-car:before {
  content: "\e803";
}
.icon-car_search:before {
  content: "\e804";
}
.icon-label:before {
  content: "\e805";
}
.icon-speedometr:before {
  content: "\e806";
}
.icon-chat:before {
  content: "\e807";
}
.icon-application:before {
  content: "\e808";
}
.icon-message:before {
  content: "\e809";
}
.icon-car_sale:before {
  content: "\e80a";
}
.icon-phone:before {
  content: "\e80b";
}
.icon-label-reverse:before {
  content: "\e80c";
}
.icon-transmission:before {
  content: "\e80d";
}
.icon-fuel:before {
  content: "\e80e";
}
.icon-road:before {
  content: "\e80f";
}
.icon-reset:before {
  content: "\e811";
}
.icon-phone2:before {
  content: "\e812";
}
.icon-question:before {
  content: "\e813";
}
.icon-steering_wheel:before {
  content: "\e814";
}
.icon-ac-brochure:before {
  content: "\e901";
}
.icon-gear:before {
  content: "\e902";
}
.icon-ac-max-passenger:before {
  content: "\e903";
}
.icon-ac-max-range:before {
  content: "\e904";
}
.icon-ac-max-speed:before {
  content: "\e905";
}
.icon-ac-message:before {
  content: "\e906";
}
.icon-ac-offer-price:before {
  content: "\e907";
}
.icon-ac-phone:before {
  content: "\e908";
}
.icon-key:before {
  content: "\e909";
}
.icon-ac-trade-in:before {
  content: "\e90a";
}
.icon-ac-useful-load:before {
  content: "\e90b";
}
.icon-calendar1:before {
  content: "\e90c";
}
.icon-oil:before {
  content: "\e90d";
}
.icon-diagnostic:before {
  content: "\e90e";
}
.icon-Tire_Wheel_Service2:before {
  content: "\e90f";
}
.icon-Tire_Wheel_Service:before {
  content: "\e910";
}
.icon-auto_loan:before {
  content: "\e911";
}
.icon-engine:before {
  content: "\e912";
}
.icon-speedometr3:before {
  content: "\e913";
}
.icon-transmission2:before {
  content: "\e914";
}
.icon-mail:before {
  content: "\e915";
}
.icon-pin:before {
  content: "\e916";
}
.icon-delete:before {
  content: "\e917";
}
.icon-share:before {
  content: "\e918";
}
.icon-calculator:before {
  content: "\e919";
}
.icon-added:before {
  content: "\e91a";
}
.icon-brochure:before {
  content: "\e91b";
}
.icon-add:before {
  content: "\e91c";
}
.icon-remove:before {
  content: "\e91d";
}
.icon-add_car:before {
  content: "\e91e";
}
.icon-air_conditioning:before {
  content: "\e91f";
}
.icon-auto_electric:before {
  content: "\e920";
}
.icon-brake:before {
  content: "\e921";
}
.icon-oil-add:before {
  content: "\e922";
}
.icon-Tire_Wheel:before {
  content: "\e923";
}
.icon-transmission_fill:before {
  content: "\e926";
}
.icon-drive_2:before {
  content: "\e927";
}
.icon-engine_fill:before {
  content: "\e928";
}
.icon-grid:before {
  content: "\e929";
}
.icon-list:before {
  content: "\e92a";
}
.icon-author:before {
  content: "\e92b";
}
.icon-date:before {
  content: "\e92c";
}
.icon-quotes3:before {
  content: "\e92d";
}
.icon-time:before {
  content: "\e92e";
}
.icon-buoy-2:before {
  content: "\e92f";
}
.icon-buoy:before {
  content: "\e930";
}
.icon-car-relic:before {
  content: "\e931";
}
.icon-star:before {
  content: "\e932";
}
.icon-barrette:before {
  content: "\e933";
}
.icon-ico_mag_reviews:before {
  content: "\e934";
}
.icon-ico_mag_calendar:before {
  content: "\e935";
}
.icon-ico_mag_clock:before {
  content: "\e936";
}
.icon-ico_mag_eye:before {
  content: "\e937";
}
.icon-ico_mag_map_pin:before {
  content: "\e938";
}
.icon-paper-plane:before {
  content: "\e948";
}
.icon-info-circle:before {
  content: "\e946";
}
.icon-check-circle:before {
  content: "\e943";
}
.icon-calendar:before {
  content: "\e939";
}
.icon-y:before {
  content: "\e93a";
}
.icon-f:before {
  content: "\e93b";
}
.icon-i:before {
  content: "\e93c";
}
.icon-location:before {
  content: "\e924";
}
.icon-call:before {
  content: "\e93d";
}
.icon-menu:before {
  content: "\e93e";
}
.icon-search:before {
  content: "\e93f";
}
