@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?glkkdb');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?glkkdb#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?glkkdb') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?glkkdb') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?glkkdb##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-performance {
  &:before {
    content: $icon-performance; 
  }
}
.icon-cash {
  &:before {
    content: $icon-cash; 
  }
}
.icon-trade {
  &:before {
    content: $icon-trade; 
  }
}
.icon-angle-round {
  &:before {
    content: $icon-angle-round; 
  }
}
.icon-chevron-thin-up {
  &:before {
    content: $icon-chevron-thin-up; 
  }
}
.icon-chevron-thin-right {
  &:before {
    content: $icon-chevron-thin-right; 
  }
}
.icon-chevron-thin-left {
  &:before {
    content: $icon-chevron-thin-left; 
  }
}
.icon-chevron-thin-down {
  &:before {
    content: $icon-chevron-thin-down; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-speedometr2 {
  &:before {
    content: $icon-speedometr2; 
  }
}
.icon-shop_bag {
  &:before {
    content: $icon-shop_bag; 
  }
}
.icon-chat2 {
  &:before {
    content: $icon-chat2; 
  }
}
.icon-car {
  &:before {
    content: $icon-car; 
  }
}
.icon-car_search {
  &:before {
    content: $icon-car_search; 
  }
}
.icon-label {
  &:before {
    content: $icon-label; 
  }
}
.icon-speedometr {
  &:before {
    content: $icon-speedometr; 
  }
}
.icon-chat {
  &:before {
    content: $icon-chat; 
  }
}
.icon-application {
  &:before {
    content: $icon-application; 
  }
}
.icon-message {
  &:before {
    content: $icon-message; 
  }
}
.icon-car_sale {
  &:before {
    content: $icon-car_sale; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-label-reverse {
  &:before {
    content: $icon-label-reverse; 
  }
}
.icon-transmission {
  &:before {
    content: $icon-transmission; 
  }
}
.icon-fuel {
  &:before {
    content: $icon-fuel; 
  }
}
.icon-road {
  &:before {
    content: $icon-road; 
  }
}
.icon-reset {
  &:before {
    content: $icon-reset; 
  }
}
.icon-phone2 {
  &:before {
    content: $icon-phone2; 
  }
}
.icon-question {
  &:before {
    content: $icon-question; 
  }
}
.icon-steering_wheel {
  &:before {
    content: $icon-steering_wheel; 
  }
}
.icon-ac-brochure {
  &:before {
    content: $icon-ac-brochure; 
  }
}
.icon-gear {
  &:before {
    content: $icon-gear; 
  }
}
.icon-ac-max-passenger {
  &:before {
    content: $icon-ac-max-passenger; 
  }
}
.icon-ac-max-range {
  &:before {
    content: $icon-ac-max-range; 
  }
}
.icon-ac-max-speed {
  &:before {
    content: $icon-ac-max-speed; 
  }
}
.icon-ac-message {
  &:before {
    content: $icon-ac-message; 
  }
}
.icon-ac-offer-price {
  &:before {
    content: $icon-ac-offer-price; 
  }
}
.icon-ac-phone {
  &:before {
    content: $icon-ac-phone; 
  }
}
.icon-key {
  &:before {
    content: $icon-key; 
  }
}
.icon-ac-trade-in {
  &:before {
    content: $icon-ac-trade-in; 
  }
}
.icon-ac-useful-load {
  &:before {
    content: $icon-ac-useful-load; 
  }
}
.icon-calendar1 {
  &:before {
    content: $icon-calendar1; 
  }
}
.icon-oil {
  &:before {
    content: $icon-oil; 
  }
}
.icon-diagnostic {
  &:before {
    content: $icon-diagnostic; 
  }
}
.icon-Tire_Wheel_Service2 {
  &:before {
    content: $icon-Tire_Wheel_Service2; 
  }
}
.icon-Tire_Wheel_Service {
  &:before {
    content: $icon-Tire_Wheel_Service; 
  }
}
.icon-auto_loan {
  &:before {
    content: $icon-auto_loan; 
  }
}
.icon-engine {
  &:before {
    content: $icon-engine; 
  }
}
.icon-speedometr3 {
  &:before {
    content: $icon-speedometr3; 
  }
}
.icon-transmission2 {
  &:before {
    content: $icon-transmission2; 
  }
}
.icon-mail {
  &:before {
    content: $icon-mail; 
  }
}
.icon-pin {
  &:before {
    content: $icon-pin; 
  }
}
.icon-delete {
  &:before {
    content: $icon-delete; 
  }
}
.icon-share {
  &:before {
    content: $icon-share; 
  }
}
.icon-calculator {
  &:before {
    content: $icon-calculator; 
  }
}
.icon-added {
  &:before {
    content: $icon-added; 
  }
}
.icon-brochure {
  &:before {
    content: $icon-brochure; 
  }
}
.icon-add {
  &:before {
    content: $icon-add; 
  }
}
.icon-remove {
  &:before {
    content: $icon-remove; 
  }
}
.icon-add_car {
  &:before {
    content: $icon-add_car; 
  }
}
.icon-air_conditioning {
  &:before {
    content: $icon-air_conditioning; 
  }
}
.icon-auto_electric {
  &:before {
    content: $icon-auto_electric; 
  }
}
.icon-brake {
  &:before {
    content: $icon-brake; 
  }
}
.icon-oil-add {
  &:before {
    content: $icon-oil-add; 
  }
}
.icon-Tire_Wheel {
  &:before {
    content: $icon-Tire_Wheel; 
  }
}
.icon-transmission_fill {
  &:before {
    content: $icon-transmission_fill; 
  }
}
.icon-drive_2 {
  &:before {
    content: $icon-drive_2; 
  }
}
.icon-engine_fill {
  &:before {
    content: $icon-engine_fill; 
  }
}
.icon-grid {
  &:before {
    content: $icon-grid; 
  }
}
.icon-list {
  &:before {
    content: $icon-list; 
  }
}
.icon-author {
  &:before {
    content: $icon-author; 
  }
}
.icon-date {
  &:before {
    content: $icon-date; 
  }
}
.icon-quotes3 {
  &:before {
    content: $icon-quotes3; 
  }
}
.icon-time {
  &:before {
    content: $icon-time; 
  }
}
.icon-buoy-2 {
  &:before {
    content: $icon-buoy-2; 
  }
}
.icon-buoy {
  &:before {
    content: $icon-buoy; 
  }
}
.icon-car-relic {
  &:before {
    content: $icon-car-relic; 
  }
}
.icon-star {
  &:before {
    content: $icon-star; 
  }
}
.icon-barrette {
  &:before {
    content: $icon-barrette; 
  }
}
.icon-ico_mag_reviews {
  &:before {
    content: $icon-ico_mag_reviews; 
  }
}
.icon-ico_mag_calendar {
  &:before {
    content: $icon-ico_mag_calendar; 
  }
}
.icon-ico_mag_clock {
  &:before {
    content: $icon-ico_mag_clock; 
  }
}
.icon-ico_mag_eye {
  &:before {
    content: $icon-ico_mag_eye; 
  }
}
.icon-ico_mag_map_pin {
  &:before {
    content: $icon-ico_mag_map_pin; 
  }
}
.icon-paper-plane {
  &:before {
    content: $icon-paper-plane; 
  }
}
.icon-info-circle {
  &:before {
    content: $icon-info-circle; 
  }
}
.icon-check-circle {
  &:before {
    content: $icon-check-circle; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-y {
  &:before {
    content: $icon-y; 
  }
}
.icon-f {
  &:before {
    content: $icon-f; 
  }
}
.icon-i {
  &:before {
    content: $icon-i; 
  }
}
.icon-location {
  &:before {
    content: $icon-location; 
  }
}
.icon-call {
  &:before {
    content: $icon-call; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}

