$icomoon-font-family: "automotive" !default;
$icomoon-font-path: "fonts" !default;

$icon-performance: "\e947";
$icon-cash: "\e944";
$icon-trade: "\e945";
$icon-angle-round: "\e949";
$icon-chevron-thin-up: "\e925";
$icon-chevron-thin-right: "\e940";
$icon-chevron-thin-left: "\e941";
$icon-chevron-thin-down: "\e942";
$icon-close: "\e900";
$icon-speedometr2: "\e800";
$icon-shop_bag: "\e801";
$icon-chat2: "\e802";
$icon-car: "\e803";
$icon-car_search: "\e804";
$icon-label: "\e805";
$icon-speedometr: "\e806";
$icon-chat: "\e807";
$icon-application: "\e808";
$icon-message: "\e809";
$icon-car_sale: "\e80a";
$icon-phone: "\e80b";
$icon-label-reverse: "\e80c";
$icon-transmission: "\e80d";
$icon-fuel: "\e80e";
$icon-road: "\e80f";
$icon-reset: "\e811";
$icon-phone2: "\e812";
$icon-question: "\e813";
$icon-steering_wheel: "\e814";
$icon-ac-brochure: "\e901";
$icon-gear: "\e902";
$icon-ac-max-passenger: "\e903";
$icon-ac-max-range: "\e904";
$icon-ac-max-speed: "\e905";
$icon-ac-message: "\e906";
$icon-ac-offer-price: "\e907";
$icon-ac-phone: "\e908";
$icon-key: "\e909";
$icon-ac-trade-in: "\e90a";
$icon-ac-useful-load: "\e90b";
$icon-calendar1: "\e90c";
$icon-oil: "\e90d";
$icon-diagnostic: "\e90e";
$icon-Tire_Wheel_Service2: "\e90f";
$icon-Tire_Wheel_Service: "\e910";
$icon-auto_loan: "\e911";
$icon-engine: "\e912";
$icon-speedometr3: "\e913";
$icon-transmission2: "\e914";
$icon-mail: "\e915";
$icon-pin: "\e916";
$icon-delete: "\e917";
$icon-share: "\e918";
$icon-calculator: "\e919";
$icon-added: "\e91a";
$icon-brochure: "\e91b";
$icon-add: "\e91c";
$icon-remove: "\e91d";
$icon-add_car: "\e91e";
$icon-air_conditioning: "\e91f";
$icon-auto_electric: "\e920";
$icon-brake: "\e921";
$icon-oil-add: "\e922";
$icon-Tire_Wheel: "\e923";
$icon-transmission_fill: "\e926";
$icon-drive_2: "\e927";
$icon-engine_fill: "\e928";
$icon-grid: "\e929";
$icon-list: "\e92a";
$icon-author: "\e92b";
$icon-date: "\e92c";
$icon-quotes3: "\e92d";
$icon-time: "\e92e";
$icon-buoy-2: "\e92f";
$icon-buoy: "\e930";
$icon-car-relic: "\e931";
$icon-star: "\e932";
$icon-barrette: "\e933";
$icon-ico_mag_reviews: "\e934";
$icon-ico_mag_calendar: "\e935";
$icon-ico_mag_clock: "\e936";
$icon-ico_mag_eye: "\e937";
$icon-ico_mag_map_pin: "\e938";
$icon-paper-plane: "\e948";
$icon-info-circle: "\e946";
$icon-check-circle: "\e943";
$icon-calendar: "\e939";
$icon-y: "\e93a";
$icon-f: "\e93b";
$icon-i: "\e93c";
$icon-location: "\e924";
$icon-call: "\e93d";
$icon-menu: "\e93e";
$icon-search: "\e93f";

