&__bottomPanel{
  justify-content: space-between;

  a{
    @include buttonGeneric;
    line-height: 38px;
  }



  .pages{
    span{
      @include buttonGeneric;
      line-height: 38px;

      &, &:hover{
        cursor: default;
        background-color: map_get($theme-colors, 'darkerGreyBg');
        border: 1px solid map_get($theme-colors, 'darkerGreyBg');
        color: #fff;
      }
    }

    span, a{
      margin: 0 3px;

    }
  }
}
