&-extColors{
  background-color: #eceff3;
  padding: 60px 0;

  &_title{
    @include sectionTitle;
  }

  .color{
    &-image{
      margin-bottom: 15px;
    }
    &-title{
      font-size: 16px;
    }
  }

  .disclaimer{
    margin-top: 30px;
  }
}
