&-features{
  background-color: #eceff3;
  padding: 60px 0;

  &_title{
    @include sectionTitle;
  }

  .feature{
    padding: 10px;

    &-image{
      img{
        width: 100%;
      }
    }

    &-content{
      background-color: #fff;
      padding: 15px;
      box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    }

    &-title{
      margin: 20px 0 10px;
      font: normal normal 700 18px / 1.2 'Antenna', Arial, sans-serif;
    }
  }

  .disclaimer{
    margin-top: 30px;
  }
}
