&-header{
  text-align: center;
  color: #fff;
  background-color: darken(map_get($theme-colors, 'primary'), 25%);
  flex-basis: 100%;

  h1{
    font-size: 25px;
    line-height: 3;
    margin-bottom: 0;
  }
}
