&-modelRange{
  background-color: #eceff3;
  padding: 60px 0;

  &_title{
    @include sectionTitle;
  }

  .model{
    padding: 10px;

    &-image{
      margin: 10px 0 20px;
      img{
        width: 100%;
      }
    }

    &-content{
      background-color: #fff;
      padding: 15px;
      box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    }

    &-title{
      margin: 0 10px;
      padding-bottom: 8px;
      font: normal normal 300 20px / 1.2 'Antenna', Arial, sans-serif;
      border-bottom: 1px solid #e5e5e5;
      color: map_get($theme-colors, 'primary');
    }

    &-description{
      color: #888;
      ul{
        padding: 0;
      }
      li{
        list-style-type: none;
        margin-bottom: 5px;
      }

      i{
        color: map_get($theme-colors, 'primary');
        margin-right: 5px;
      }
    }

    &-price{
      text-align: center;
      font: normal normal 700 20px / 1.2 'Antenna', Arial, sans-serif;
      color: map_get($theme-colors, 'primary');

      p{
        font: normal normal 300 14px / 1.2 'Antenna', Arial, sans-serif;
        color: #888;
        margin-bottom: 3px;
      }
    }
  }
}
