&-nextSteps{
  padding: 60px 0;

  &_title{
    @include sectionTitle;
  }

  .step{
    text-align: center;

    &-image{
      img{
        max-width: 120px;
      }
    }
    &-title{
      font-size: 18px;

      &, a{
        color: #212529;
      }
    }
  }
}
