&-performanceHighlights{
  padding: 60px 0;
  background-color: map_get($theme-colors, 'darkBg');

  &_title{
    @include sectionTitle;
    color: #fff;
    border-bottom-color: #fff;
  }

  .row{
    justify-content: center;
  }

  .highlight{
    &-image{
      img{
        width: 100%;
      }
    }

    &-title{
      color: #fff;
      text-transform: uppercase;
      margin: 20px 0 10px;
      font-size: 20px;
    }

    &-description{
      color: #888;
    }
  }


}
