&-specs{
  padding: 30px 0;
  //background-color: darken(map_get($theme-colors, 'primary'), 25%);
  background-color: map_get($theme-colors, 'darkBg');
  +[class^=wp-]{
    margin-top: 30px;
  }
  .spec{
    text-align: center;
    color: #fff;

    &-title, &-prepend {
      text-transform: uppercase;
    }

    &-icon{
      margin: 0 auto 15px;
      max-width: 60px;
    }

    &-title{
      color: map_get($theme-colors, 'primary');
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 15px;
    }

    &-value{
      font-size: 20px;
    }

    &-prepend, &-description{
      font-size: 12px;
      color: darken(#fff, 30%)
    }


  }
}
