.footer{
  background-color: map-get($theme-colors, 'darkBg');
  color: map-get($theme-colors, 'darkBgText');

  p, a, span, li{
    color: map-get($theme-colors, 'darkBgText');
  }

  a{
    &:hover{
      color: #fff;
    }
  }

  .widget{
    margin-bottom: 20px;
    &-title, h6{
      color: #fff;
    }
  }

  &-top{
    padding: 66px 0 20px;
  }

  &-bottom{
    padding: 20px 0;
    border-top: 1px solid #444;

  }

  .menu{
    list-style-type: none;
    padding: 0;
  }
}
