.header{
  &-logo{
    max-width: 260px;
  }

  &-phones{
    display: flex;
    justify-content: flex-end;
    color: map-get($theme-colors, 'primary');
    margin-top: 20px;
    span{
      font-size: 11px;
      line-height: 14px;
    }
    &_primary{
      display: flex;
      span{
        display: block;
      }

      i{
        font-size: 32px;
        padding-right: 5px;
      }

      a{
        font-size: 18px;
        line-height: 1;
      }
    }
    &_secondary{
      display: none;

      @media screen and (min-width: 400px){
        display: flex;
      }

      flex-flow: column nowrap;
      padding-left: 10px;

      .item-wrapper{
        margin-bottom: 2px;
        line-height: 1;
      }
    }
  }

  &-top{
    justify-content: flex-end;

    padding: 12px 0 9px;
    border-bottom: 1px solid #ddd;

    display: none;
    @media screen and (min-width: 768px) {
      display: flex;
    }

    p{
      margin: 0;
    }

    &>.col{
      text-align: center;

      @media screen and (min-width: map-get($grid-breakpoints, "md")) {
        text-align: right;
      }
    }
  }

  &-mid{
    align-content: center;
    align-items: center;
    padding: 15px 0;
    justify-content: space-around;
    @media screen and (min-width: 768px) {
      justify-content: space-between;
    }
  }

  &-bottom{
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
    }
    background: map-get($theme-colors, 'menuBgColor');

    &.scrolling{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 100;
      opacity: 1;
      transition: opacity ease .5s;

      &.transparent{
        opacity: 0;
        transition: opacity ease .5s;
      }

      &+ .scrollFiller{
        padding-top: 51px;
      }
    }
  }

  &-searchTrigger{
    display: flex;
    align-items: center;
    &_btn{
      background: transparent;
      display: inline-block;
      padding: 17px;
      position: relative;
      transition: all ease .3s;
      cursor: pointer;
      border-radius: 40px;
      border: 1px solid #fff;
      outline: none;

      i{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 20px;
      }

      &:hover{
        background: map-get($theme-colors, 'primary');
      }
    }
  }

  &-menuToggler{

    &_btn{
      background: none;
      border: none;
      outline: none;
      color: map_get($theme-colors, 'primary');
      font-size: 30px;
    }

    @media screen and (min-width: 768px) {
      display: none!important;
    }
  }
}
