html, body{
  font: normal normal 300 14px / 22px 'Antenna', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 500;
  line-height: 1.2;
}

h1, h2{
  font-size: 40px;
}

h3{
  font-size: 36px;
}

h4{
  font-size: 30px;
}

h5{
  font-size: 24px;
}

h6{
  font-size: 18px;
}

img{
  max-width: 100%;
}

article{
  &>section{
    width: 100%;
  }
}

.container{
  position: relative;
  @media screen and (min-width: 1450px) {

    min-width: 1400px;
  }
}

@import '~@glidejs/glide/src/assets/sass/glide.core';
@import '~flatpickr/dist/flatpickr.min.css';
//@import '~choices.js/src/styles/base';
@import '~choices.js/src/styles/choices';
@import '~nouislider/distribute/nouislider.css';

@media screen {
  .screen-reader-text{
    display: none;
  }
}
