&_buttons{
  display: flex;
  flex-wrap: wrap;

  a{
    flex-basis: 100%;
    text-transform: uppercase;
    padding: 0 60px 0 25px;
    line-height: 49px;
    background-color: map-get($theme-colors, 'lightGreyBg');
    position: relative;
    margin-bottom: 11px;

    i{
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translate(-50%, -50%);
      font-size: 16px;

      &.icon-{
        &info-circle{
          font-size: 18px;
          right: 22px;
        }
        &trade{
          right: 23px;
        }
      }
    }


    &:hover{
      background-color: map-get($theme-colors, 'primary');
      color: #fff;
    }


    &:first-child{
      border: 1px solid #000;
    }
  }
}
