.carPrices{
  margin-bottom: 11px;
  &-main{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    color: #fff;
    background-color: map-get($theme-colors, 'primary');
    text-align: center;
    padding: 22px 13px;

    &.with-discount{
      flex-wrap: wrap;
    }
  }

  &-footer{
    background-color: map-get($theme-colors, 'darkBg');
    color: #fff;
    text-align: center;
    font-size: 13px;
    padding: 4px 10px;
  }

  &-regular{
    display: flex;
    font-size: 26px;
    flex-wrap: nowrap;
    .label{
      margin-right: 7px;
      font-size: 12px;
    }
  }
}
