&_carInfo{
  padding: 12px 26px 13px 22px;
  margin-bottom: 26px;
  background-color: map-get($theme-colors, 'lightGreyBg');

  ul{
    padding: 0;
  }
  @include tableItem;
  .item{
    &:last-child{
      border-bottom: none;
    }
  }
}
