.footerAccordions {
  margin-bottom: 20px;

  .collapsible{
    &Trigger{
      color: #1b394e;
      padding: 11px 20px 11px 40px;
      font-size: 16px;
      font-weight: 300;
    }

    &.is-open{
      padding-bottom: 30px;
    }

  }
}
