&_loanCalcucator{
  padding: 22px 23px 8px;
  border: 3px solid #e4e6ea;

  .title {
    position: relative;
    min-height: 42px;
    padding-left: 55px;
    text-transform: uppercase;

    h5{
      position: relative;
      top: 4px;
      margin-bottom: 15px;
      line-height: 16px;
      font-size: 16px;
      font-weight: 300;
    }

    i{
      position: absolute;
      top: 0;
      left: 1px;
      font-size: 42px;
      color: map-get($theme-colors, 'primary');
    }
  }

  .labeled{
    margin-bottom: 6px;
    font-size: 13px;
    color: #888;

    .accent{
      color: map-get($theme-colors, 'primary');
    }
  }

  .form-group{
    margin-bottom: 17px;

    &.has-error{
      input{
        border-color: map-get($theme-colors, 'warning');
      }

    }
  }

  .button{
    @include buttonGeneric;
    padding: 0 15px;
    font-size: 16px;
    margin-bottom: 16px;
    display: inline-block;
  }

  .stm-calculator{
    &_results{
      display: none;
      padding: 8px 0 20px;
      &-inner{

        position: relative;
        background-color: map-get($theme-colors, 'primary');
        padding: 18px 24px 14px;
        color: #fff;

        &::after {
          position: absolute;
          content: '';
          display: block;
          top: -8px;
          left: 26px;
          width: 0;
          height: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 8px solid map-get($theme-colors, 'primary');
        }
      }
    }

  }
}
