&-markers{
  display: flex;
  justify-content: flex-start;

  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;

  .stockNum{
    padding: 3px 15px;
    text-transform: uppercase;
    color: #888;
    background-color: map-get($theme-colors, 'lightGreyBg');
    font-size: 12px;
    margin-right: 10px;

    span{
      color: #232628;
      font-size: 14px;
    }
  }

  .windowSticker{
    a{
      position: relative;
      display: block;
      padding: 0 15px 0 32px;
      font-size: 12px;
      text-transform: uppercase;
      color: #888;
      border: 1px solid #dddddd;
      line-height: 27px;

      i{
        color: map-get($theme-colors, 'primary');
        position: absolute;
        left: 17px;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 17px;
      }

      &:hover{
        color: map-get($theme-colors, 'primary');
        border: 1px solid map-get($theme-colors, 'primary');
      }
    }
  }
}
