&_mpgInfo{
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  border: 3px solid #e4e6ea;
  padding: 11px 15px;
  margin-bottom: 25px;

  .mpg-itm{
    &:not(.with-icon){
      display: flex;
      flex-wrap: wrap;
    }

    span{
      flex-basis: 100%;
      text-align: center;

      &.label{
        font-size: 26px;
        font-weight: 700;
      }

      &.descr{
        font-size: 12px;
        text-transform: uppercase;
      }
    }

    &.with-icon{
      border-radius: 64px;
      font-size: 26px;
      line-height: 64px;
      width: 64px;
      color: #fff;
      background-color: map-get($theme-colors, 'primary');
      text-align: center;
      margin-left: 8px;
      margin-right: 8px;
    }
  }
}
