.singleInventoryComponent{
  padding-top: 43px;
  @include make-row();

  &-title{
    font-weight: 300;
    line-height: 1.2;
    font-size: 36px;
    margin-bottom: 14px;
  }

  @import "markers";
  @import "gallery";
  @import "techInfoBlocks";
  @import "carPrices";
  @import "sidebar";
  @import "footerAccordions";
}
