.techInfoBlocks{
  &-title{
    font-size: 16px;
    font-weight: 700;
    color: #232628;
    margin-bottom: 9px;

    i{
      color: map-get($theme-colors, 'primary');
      font-size: 26px;
      margin-right: 8px;
      line-height: 1.2;
    }
  }
  &-content{
    padding: 0;
    list-style-type: none;
    @include tableItem;
  }

}
