.loopInventory{
  margin-bottom: 39px;
  &__content{
      background-color: #F2F2F2;
      color: #0D2F4D;
      text-align: center;
      transition: all ease .3s;
      box-shadow: none;

      &:hover{
          transition: all ease .3s;
          box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
      }
  }

  &__title{
      font-size: 19px;
      line-height: 26px;
      color: #0D2F4D;
  }

  &__header{
    margin-bottom: 32px;
    &, img{
      width: 100%;
    }
  }

  &__price{
    color: #EB5757;
    font-size: 19px;
    line-height: 26px;

    &.oldprice{
      font-size: 13px;
      line-height: 18px;
      position: relative;
      display: inline-block;
      &::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translate(0, -50%);
        height: 1px;
        background-color: #EB5757;
      }
    }

    &s{
      padding: 0 41px 16px;
    }
  }

  &__option{
    flex-basis: 40%;
    margin-bottom: 12px;
    text-align: left;
    color: #828282;

    i{
      margin-right: 12px;
    }

    &:last-child{
      flex-basis: 100%;
      margin-top: 16px;
      margin-bottom: 0;
      text-align: center;
    }

    &s{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 0 41px 10px;
    }
  }

  &__footer{
    &-link{
      @include buttonGeneric;
      display: flex;
      flex-flow: row nowrap;
      align-content: center;
      align-items: center;
      justify-content: space-around;
    }
  }


}
