@font-face {
    font-family: 'Antenna';
    src: url('Munged-PYyqDThf8H.eot');
    src: local('FB Web Use Only'), local('Munged-PYyqDThf8H'), local('Munged Regular'), local('Antenna Regular'),
        url('Munged-PYyqDThf8H.eot?#iefix') format('embedded-opentype'),
        url('Munged-PYyqDThf8H.woff2') format('woff2'),
        url('Munged-PYyqDThf8H.woff') format('woff'),
        url('Munged-PYyqDThf8H.ttf') format('truetype'),
        url('Munged-PYyqDThf8H.svg#Munged-PYyqDThf8H') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antenna';
    src: url('Munged-rKLubJGAVb.eot');
    src: local('FB Web Use Only'), local('Munged-rKLubJGAVb'), local('Munged Light'), local('Antenna Light'),
        url('Munged-rKLubJGAVb.eot?#iefix') format('embedded-opentype'),
        url('Munged-rKLubJGAVb.woff2') format('woff2'),
        url('Munged-rKLubJGAVb.woff') format('woff'),
        url('Munged-rKLubJGAVb.ttf') format('truetype'),
        url('Munged-rKLubJGAVb.svg#Munged-rKLubJGAVb') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antenna';
    src: url('Munged-f6uTgdAJky.eot');
    src: local('FB Web Use Only'), local('Munged-f6uTgdAJky'), local('Munged Bold'), local('Antenna Bold'),
        url('Munged-f6uTgdAJky.eot?#iefix') format('embedded-opentype'),
        url('Munged-f6uTgdAJky.woff2') format('woff2'),
        url('Munged-f6uTgdAJky.woff') format('woff'),
        url('Munged-f6uTgdAJky.ttf') format('truetype'),
        url('Munged-f6uTgdAJky.svg#Munged-f6uTgdAJky') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

