@mixin tableItem{
  .item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    border-bottom: 1px solid #d5d9e0;
    padding: 8px 0;

    @media screen and (min-width: 650px) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    h5{
      font-size: 12px;
      text-transform: uppercase;
      color: #888;
      margin-bottom: 0;
    }

    h5, span{
      line-height: 22px;
    }
  }
}
